.adress-picker-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    z-index: 1000;
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
}
.address-picker-container{
    left: 0;
    bottom: 0;
    position: fixed;
    height: 80%;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #fff;
    padding-bottom: env(safe-area-inset-bottom);
}

.address-picker-container header {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}